/UnityPF/.vs
/UnityPF/Library
/UnityPF/obj
/Server/.vs
/Server/bin
/Server/obj
/UnityPF/Temp
/UnityPF/*.csproj
/UnityPF/*.sln
/UnityPF/*.unityproj
/UnityPF/*.user
/UnityPF/*.userprefs
/UnityPF/*.pidb
/UnityPF/*.suo